.hidden {
    display: none;
}

#highscores {
    display: none;
}

body {
    background-color: aliceblue;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: solid black 2px;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    padding: 10px;
    font-family: fantasy;
  
   
    
}

.view {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
    color: midnightblue;
}

h1 {
    margin-top: -75px;
    text-align: center;
}

.button {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;

}

#start-btn {
    margin: 7px;
}

